<suite name="suite">
    <test name="Module1">
        <classes>
            <class name = "BasicTestNG"/>
            <class name="ClassTwo"/>
        </classes>
    </test>
    <test name="module2">
        <classes>
            <class name="ClassThree"/>
        </classes>
    </test>

    //We can define the test to run only the classes that are mentioned in the test block
</suite>