<suite name="suite">
    <test name="test">
        <classes>
            <class name = "BasicTestNG">
            </class>
        </classes>
    </test>
    <test name="module2">
        <classes>
            <class name="ClassThree"/>
        </classes>
    </test>
    //We can define the class name to run only the classes that are mentioned in the test block
</suite>
